body{
    margin: 0;
}
#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content{ width: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#heading{
    color: white;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
#screen{
    background-color: white;
    width: 110px;
    height: 20px;
    display: flex;
    align-items: center;
}
/* #inputbox{
    width: 93%;
    /* height: 98%; */

#keyboard{
    display: flex;
    justify-content: center;
}
.buttonbox{
    width: 25px;
    height: 20px;
    border: none;
    text-align: center;
}
#Equal{
    width: 53px;
}

@media(min-width:768px){
    #keyboard{
        width: 100%;
        height: 60%;
    }
    .buttonbox{
        width: 60px;
        height: 40px;
       font-size: 30px;
    }
    #Equal{
        width: 123px;
    }
    #screen{
        width: 250px;
        height: 40px;
    }
    /* #inputbox{
        width: 97%;
        height: 98%; */
    /* } */
    #content{
        height: 70%;
    }
}
